@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

:root {
  --Soft_blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Very_dark_blue: hsl(217, 54%, 11%); /* main BG */
  --Very_dark_blue: hsl(216, 50%, 16%); /* Card BG */
  --Very_dark_blue: hsl(215, 32%, 27%); /* line */
  --White: hsl(0, 0%, 100%);
  font-size: 18px;
  font-family: 'Outfit', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
